@import "modules/all";

#title {
    height: 10%;
    background-image: url("/images/outgain_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}
