body {
    background-color: $background-colour;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $body-colour;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

hr {
    border: 0;
    height: 0;
    margin: 0 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.container {
  margin: 0 auto;
  padding-bottom: 40px;
  position: relative;
  display: block;
  text-align: left;

  &.main {
    padding-bottom: 10px;
  }
}

.rounded {
  background-color: darken($background-colour, 20%);
  @include border-radius($container-border-radius);
  padding: 10px;
}

.for-show {
  width: 460px;
  height: 340px;

  font-size: 4em;
  font-weight: bold;
  color: $blue-lighter;
  text-align: center;
  line-height: 320px;
}

code {
  @extend .rounded;
  @extend .container;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

  background: $blue-darker;
  color: $blue-lighter;
}

.code-demo {
  margin: 20px 10px;
  width: 460px;
  height: 340px;
}

#title {
    height: 160px;
    background-image: url("/images/outgain_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0;
}

#game-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#game-view-container {
  margin: 0;
  float: left;
  height: 100%;
  padding: 10px;
  position: relative;

  #round-name-popup {
    @include border-radius(5px);

    position: absolute;
    height: auto;
    width: 50%;
    top: 50%;
    margin: -92px 0 0 -25%;
    text-align: center;
    display: block;
    left: 50%;
    background: rgba(0, 0, 0, 0.6);
    font-size: 3em;
    line-height: 3em;
    color: $blue-lighter;
    padding: 20px;
    font-weight: bold;
  }

  #progress {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 10px;
    background-color: lightgray;
    border: 1px solid gray;
    @include border-radius(5px);
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
  }

  #elapsed {
    background-color: tomato;
    height: 100%;
    width: 0%;
  }
}

#game-view {
    height: 100%;
    width: 100%;
    background-color: white;
    @include border-radius($container-border-radius);
}

#game-sidebar {
  height: 100%;
  max-height: 100%;
  padding-left: 10px;
  margin-top: 10px;
  display: flex;
  float: right;
  flex-direction: column;
  box-sizing: border-box;
}

#game-title {
  @extend .rounded;
  @extend h3;
  width: 95%;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  background: none;
}

#game-log-wrapper {
  flex: 1;
  width: 95%;
  position: relative;

  #game-log {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    &.small {
      position: absolute;
      height:  36px;
      width: 100%;
      line-height:20px;
      bottom: 0;
    }
  }

  #collapse-arrow {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.5);
    width: auto;
    height: 24px;
    border-radius: 3px;
    padding: 0 6px;
    color: white;
    text-align: center;
    font-family: 'Source Sans Pro';
    line-height: 1.25em;
    font-weight: bold;

    &.small {
      top: auto;
      bottom: 6px !important;
      right:6px;
    }
  }
}

#game-panel,
#game-leaderboard {
    @extend .container;
    @extend .rounded;

    display: block;
    height: auto;
    bottom: 0;
    padding: 0;
    width: 95%;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    overflow: hidden;
    position: relative;
    background: darken($background-colour, 70%);

}

#game-leaderboard {
  .table {
    padding: 10px;
    display: flex;
    justify-content: center;

    table {
      flex: 1;
      width: 50%;
      padding: 0 5px;
      background: none;
      color: white;
      margin: 0;
      border: none;

      tr {
        background: none;
        border: none;

        td {
          padding: 0;
          margin: 0;

          &.position, &.score {
            text-align: right;
          }

          &.position {
            width: 24px;
            padding-right: 10px;
          }
        }

        &.first {
          color: $gold;
        }

        &.second {
          color: $silver;
        }

        &.third {
          color: $bronze;
        }
      }
    }
  }
}

.header {
  display: block;
  width: auto;
  height: 2em;
  font-weight: bold;
  background-color: darken($background-colour, 80%);
  border-bottom-right-radius: $container-border-radius;
  padding: 4px 26px 4px 10px;
  color: $user;
  text-align: left !important;
  line-height: 1.4em;
}

#game-panel {
    margin-bottom: 10px;

    * {
      text-align: center;
    }

    #user-id:before {
      content: "@";
      font-weight: bold;
      color: $user;
    }

    .gains-buttons {
      display: flex;
      height:100%;

      ul#game-buttons {
        padding: 0 10px 10px;
        display: inline-block;
        width: 50%;
      }

      #user-gains {
        color: $resource;
        font-weight: bold;
        font-size: 2em;
        padding: 20px 0 20px 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        span:before {
          content: "";
          background: $resource;
          position: relative;
          right: 8px;
          top: -2px;
          width: 16px;
          height: 16px;
          display: inline-block;
          @include border-radius(8px);
        }
      }
    }
}
