#editor {
    z-index: 1;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;

    #editor-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }

    #editor-modal {
        position: relative;
        align-self: center;
        width: 80%;
        height: 80%;

        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);

        .pane {
            width: 100%;
            height: 100%;
            background-color: $pane-bg-colour;
            border-radius: 5px;
            position: absolute;

            display: flex;
            flex-direction: column;

            .pane-header {
                background-color: $pane-header-bg-colour;
                display: flex;
                flex-direction: column;

                h1 {
                    padding: 0.8em 1.2em;
                    color: white;
                    margin-top: 0;
                    margin-bottom: 0;
                    align-self: center;
                    font-family: $fontStack;
                    font-size: 1em;
                    font-weight: normal;
                }

                .btn {
                    border-radius: 0;
                    position: absolute;
                    margin: 0;
                    top: 0;
                    width: 8em;
                }

                .btn-left {
                    left: 0;
                }

                .btn-right {
                    right: 0;
                }
            }
            .pane-contents {
                flex: 1;
            }
        }

        #editor-pane {
            z-index: 0;

            .pane-contents {
                display: flex;
                flex-direction: row;
                padding: 5px;

                .editor-block {
                    background-color: white;
                    border-radius: 5px;
                    margin: 5px;
                }

                #editor-main-split {
                    position: relative;
                    flex: 1;
                    cursor: text;
                    .CodeMirror {
                        z-index: 0;
                        border-radius: 5px;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }
                }

                #editor-right-split {
                    width: 20%;

                    display: flex;
                    flex-direction: column;
                    #editor-help {
                        flex: 1;
                    }

                    #editor-buttons {
                        display: flex;
                        flex-direction: column;

                        .buttons-row {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        #gist-pane {
            z-index: 1;
            transform: translateX(100%);
            transition: transform 0.3s;

            .pane-contents {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                #no-gists {
                    font-family: $fontStack;
                    font-size: 1em;
                    font-weight: normal;
                    text-transform: uppercase;
                    letter-spacing: 2px
                }

                #gist-list {
                    flex: 1;
                    width: 100%;
                    padding: 10px;
                    overflow-y: scroll;

                    .gist-entry {
                        position: relative;
                        background-color: white;
                        border-radius: 5px;
                        border: 2px solid white;
                        padding: 10px;

                        margin-bottom: 10px;
                        &:last-child {
                          margin-bottom: 0px;
                        }

                        cursor: pointer;

                        .gist-info {
                            .gist-name {
                                display: block;
                            }
                            .gist-date {
                                margin-top: 5px;
                                display: block;
                                color: #999;
                                font-size: 11px;
                            }
                        }

                        .gist-snippet {
                            position: relative;
                            margin-top: 5px;

                            pre {
                                padding: 5px;
                                border: 1px solid;
                                border-color: grey;
                                border-radius: 5px;

                                width: 100%;
                                max-height: 150px;
                                z-index: 0;
                                overflow-y: scroll;
                            }

                        }

                        .gist-tooltip {
                            margin: -2px -2px 0 0;
                            padding: 5px 10px 5px 10px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 1;
                            background-color: $gist-hover-colour;
                            color: white;
                            visibility: hidden;
                            border-top-right-radius: 5px;
                            border-bottom-left-radius: 2px;
                        }

                        &:hover {
                            border-color: $gist-hover-colour;

                            .gist-info .gist-name {
                                color: $gist-hover-colour;
                            }
                            .gist-tooltip {
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }

        #gist-pane.showPane {
            transform: translateX(0);
        }
    }
}

#editor.showEditor {
    #editor-overlay {
        opacity: 1;
        animation: fadeIn 0.1s;
    }
    #editor-modal {
        animation: showEditor 0.1s;
    }
}

#editor.hideEditor {
    #editor-overlay {
        opacity: 0;
        animation: fadeOut 0.1s;
    }
    #editor-modal {
        animation: hideEditor 0.1s;
        visibility: hidden;
    }
}

@keyframes showEditor {
  0% { transform: scale(0.3); }
  100% { transform: scale(1); }
}

@keyframes hideEditor {
  0% { visibility: visible; transform: scale(1); }
  99% { visibility: visible; transform: scale(0.3); }
  100% { visibility: hidden; transform: scale(0.3); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
