#editor {
    z-index: 1;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    display: flex;
    justify-content: center;

    #editor-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }

    #editor-modal {
        position: relative;
        align-self: center;
        width: 80%;
        height: 80%;

        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
        overflow: hidden;

        div.pane {
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        ul.pane-buttons {
            z-index: 1;
            bottom: 0px;
            right: 0px;
            position: absolute;

            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            li button {
                display: inline-block;
            }
        }

        #editor-pane {
            z-index: 0;
            cursor: text;
            .CodeMirror {
                z-index: 0;
                border-radius: 5px;
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }

        #gist-pane {
            z-index: 1;
            transform: translateX(100%);
            transition: transform 0.3s;
            background-color: white;

            #gist-list {
                height: 100%;
                padding: 5px 10px;
                overflow-y: scroll;
                .gist-entry {
                    cursor: pointer;

                    margin: 10px;
                    .gist-info {
                        .gist-name {
                            display: block;
                        }
                        .gist-date {
                            margin-top: 5px;
                            display: block;
                            color: #999;
                            font-size: 11px;
                        }
                    }
                    .gist-snippet {
                        padding: 5px;
                        border: 1px solid;
                        border-color: grey;
                        border-radius: 5px;
                        margin-top: 5px;
                        max-height: 150px;
                        overflow-y: scroll;
                    }
                }

                .gist-entry:hover {
                    .gist-info .gist-name {
                        color: #4078c0;
                    }
                    .gist-snippet {
                        border-color: #4078c0;
                    }
                }
            }
        }

        #gist-pane.showPane {
            transform: translateX(0);
        }
    }
}

#editor.showEditor {
    #editor-overlay {
        opacity: 1;
        animation: fadeIn 0.1s;
    }
    #editor-modal {
        animation: showEditor 0.1s;
    }
}

#editor.hideEditor {
    #editor-overlay {
        opacity: 0;
        animation: fadeOut 0.1s;
    }
    #editor-modal {
        animation: hideEditor 0.1s;
        visibility: hidden;
    }
}

@keyframes showEditor {
  0% { transform: scale(0.3); }
  100% { transform: scale(1); }
}

@keyframes hideEditor {
  0% { visibility: visible; transform: scale(1); }
  99% { visibility: visible; transform: scale(0.3); }
  100% { visibility: hidden; transform: scale(0.3); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
