#lobbies-container {
}

#lobbies-table {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
}

#lobbies {
  position: relative;
  width: 300px;
  float: right;
}

#players-table {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
}

#players {
  position: relative;
  width: 300px;
  float: left;
}
