.banner {
  margin: 40px 0 0 0;
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
}

#lobbies-container {
  width: 1048px;
  margin: 0 auto;

  > .tables {
    display: flex;
    justify-content: center;

    table {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

#lobbies-add,
#player-join {
  position: relative;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

#lobbies-add {
  float: left;
  margin-right: 20px;
}

#player-join {
  float: right;
  margin-left: 20px;
}

#players, #lobbies {
  width: 100%;
}

#lobbies-table,
#players-table {
  box-sizing: border-box;
  position: relative;
  width: 100%;

  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }

  tbody {
    height:340px;
    width: 100%;
    display:block;
    overflow-y:scroll;
    tr {
      &.lobby {
        cursor: pointer;
      }
      width: 100%;
    }
  }
}
