$eatCreature: #AAE2E8;
$hitSpike: #F6A27F;
$collectResource: #9FC155;
$chatMessage: gold;

.eatCreature {
  color: $eatCreature
}

.hitSpike {
  color: $hitSpike
}

.collectResource {
  color: $collectResource
}

.chatMessage {
  color: $chatMessage
}

.newRound {
  text-decoration: underline;

  &:not(:first-child) {
    margin-top: 5px;
  }
}
