.sweet-alert {

  h2 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  h2.modal-title {
    margin: 20px auto !important;
  }

  p {
    .btn {
      font-weight: normal;
    }
  }

  button {
    &.confirm, &.cancel {
      @extend .btn;
    }
  }

  .sa-button-container {
    margin-bottom: 20px;
  }

  p.howtoplay {
    margin: 0 10px 20px;
    overflow-y: scroll;
    height: 240px;
  }

}

.sweet-overlay {
  background: url(../images/outgain_login_cover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal {
  @include box-shadow(0px, 0px, 30px, rgba(0,0,0,0.3));
}
